footer {
    background: #036280;
    padding: 8px;
    color: #eee;
    display: flex;
}

footer a {
    color: white;
}

footer #left-footer {
    flex: 1;
    border-right: 1px solid rgb(255, 255, 255);
    padding-left: 32px;
}

footer #left-footer ul {
    padding: 0;
    list-style: none;
    line-height: 1.5;
}

footer #right-footer {
    flex: 2;
    padding: 8px;
    text-align: center;
}

footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-instagram,
footer #social-media-footer a .fa-github {
    color: white;
    transition: 0.4s;
}

footer #social-media-footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

footer #social-media-footer ul li {
    font-size: 48px;
    padding: 16px;
    transition: 0.4s;
}

@media (max-width: 719px) {
    .content {
        width: 100%;
    }

    .imageDisp>img {
        max-width: 100%;

    }

    .card {
        padding: 3rem 3rem;
        display: flex;
        flex-direction: column;
    }

    .responsive {
        width: 90%;
        /* height: auto; */
    }

    .content-head {
        padding-left: 0;
        display: flex;
        flex-direction: column;
    }

    .content-head h1 {
        color: rgb(255, 255, 255);
        margin-top: 10px;
    }

    .banner {
        flex-direction: column;
        text-align: justify;
    }

    .banner__text {
        margin: 0 0;
    }

    .btn {
        color: rgb(236, 236, 236);
    }


    footer {
        flex-direction: column;
        text-align: center;
    }

    footer #left-footer {
        flex: 1;
        border-right: 0;
        padding-left: 0;
    }

    footer #right-footer {
        background: #eee;
        color: #036280;
    }

    footer #right-footer a {
        color: #036280;
    }

    footer #social-media-footer a .fa-facebook,
    footer #social-media-footer a .fa-instagram,
    footer #social-media-footer a .fa-github {
        color: #036280;
        transition: 0.4s;
    }


}

.icono {
    width: 50px;
    height: 50px;
    transition: transform 0.3s;
}

.icono:hover {
    transform: scale(1.2);
    /* Aumenta el tamaño del elemento */
}