.navbar {
    background-color: #2B5FE3;
}

.navbar nav ul li a:hover {
    background-color: #1a2c56c2;
}
.btn-personalizado{
    background-color: #74bde783!important;
    color: white!important; 
    border-color: #05112c!important;
}
.btn-personalizado:hover{
    background-color: #1a2c56c2!important;
}

h2 {
    color: black;
    font-size: 30px;
    text-align: center;
}
article .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

