.navbar {
    background-color: #036280;
}

.navbar nav ul li a:hover {
    background-color: #1a2c56c2;
}

h2 {
    color: black;
    font-size: 30px;
    text-align: center;
}
article .group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.contador{
    background-color: #cbd1df;
    border-radius: 15%;
}
.carrito-nav{
    height: 25px;
    width: 25px;
}