body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    min-width: 100;
}
.tituloProductos {
    margin: 10px; 
    font-family: "archivo-black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #01060A;
}

.productos  {
    display: grid;   
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.productos div:hover {
    box-shadow: 0 0 10px rgba(3, 59, 143, 0.5);    
}


.productos   div {
    text-align: center;
    box-shadow: none;  
    transition: box-shadow 0.3s;   
}

.productos   div img {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    margin: 5px 0px;
}


.productos div p,
.productos div h2,
.productos div a {
    padding: 15px;
   
}

.descripcion {
    text-align: center;
    
}

.productos   div a {
    font-size: 12px;
    text-decoration: none;
    color: inherit;
    background-color: #dad7cd;
    padding: 10px 15px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px;
  
}

.TitulosCategorias{
    font-family: "germania-one", serif;
    font-weight: 400;
    font-style: normal;
}
#Ciencia{
    text-decoration: underline #2B5FE3;
}
#Ciencia-sec div:hover {
    box-shadow: 0 0 10px #2B5FE3;    
}

#Drama{
    text-decoration: underline red;
}
#Drama-sec div:hover {
    box-shadow: 0 0 10px red;    
}
#Infantil{
    text-decoration: underline yellow;
}
#Infantil-sec div:hover {
    box-shadow: 0 0 10px yellow;    
}
#Terror{
    text-decoration: underline black;
}
#Terror-sec div:hover {
    box-shadow: 0 0 10px black;    
}
#Comedia{
    text-decoration: underline green;
}
#Comedia-sec div:hover {
    box-shadow: 0 0 10px green;    
}






@media (max-width: 800px) {

   
    .productos   {
        grid-template-columns: 1fr;  
        justify-content: center;
       
    }
}